<a href="https://colab.research.google.com/github/abel-keya/moringa-school-projects/blob/master/Copy_of_2sCopy_of_SQL_Data_Analysis_Kenyan_Households_Roofing_Materials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Data Analysis: Kenyan Households Roofing Materials

## 1.0 Connecting to our Database

In [0]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
#
%sql sqlite://

'Connected: @None'

## 1.1 Importing Data from CSV files

In [0]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [0]:
# Loading our table from the respective CSV files
# We will export the Households dataset that we have cleaned using python
#
with open('Roofings.csv','r') as f:
    Households = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Households;
%sql PERSIST Households;
%sql SELECT * FROM Households LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 'NYANDARUA NORTH', 'Urban', 21156.9732, 144.0198, 37.1664, 339.1434, 148.6656, 6.968699999999999, 16.2603, 0.0, 1379.8026, 23229, 21156, 144, 38, 338, 148, 7, 17, 1, 1380, 'Nyandarua', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (1, 'NYANDARUA SOUTH', 'Urban', 5098.061, 25.1215, 138.97, 78.03699999999999, 3.207, 0.0, 0.0, 1.069, 1.069, 5345, 5098, 25, 139, 78, 3, 0, 0, 1, 1, 'Nyandarua', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (2, 'NYERI NORTH', 'Urban', 12826.9824, 160.5504, 740.2368, 366.5664, 69.61919999999999, 11.3664, 28.416, 1.4208, 1.4208, 14208, 12827, 161, 740, 367, 69, 11, 29, 2, 2, 'Nyeri', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (3, 'NYERI SOUTH', 'Urban', 36289.6503, 918.321, 1325.5764, 1213.7808, 35.9343, 19.9635, 55.89780000000001, 3.9927, 67.8759, 39927, 36290, 917, 1325, 1213, 36, 20, 57, 2, 67, 'Nyeri', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (4, 'KIRINYAGA', 'Urban', 25102.1001, 238.9107, 1090.2017, 961.135, 10.9844, 2.7461, 8.238299999999999, 2.7461, 41.1915, 27461, 25103, 239, 1090, 960, 11, 3, 9, 4, 42, 'Kirinyaga', 'Physical Infrastructure, Housing', 'CENTRAL')]

## 1.2 Previewing our Dataset

In [0]:
# Let's preview the first 10 rows of our data
# 
%%sql
SELECT * FROM Households LIMIT 10

 * sqlite://
Done.

[(0, 'NYANDARUA NORTH', 'Urban', 21156.9732, 144.0198, 37.1664, 339.1434, 148.6656, 6.968699999999999, 16.2603, 0.0, 1379.8026, 23229, 21156, 144, 38, 338, 148, 7, 17, 1, 1380, 'Nyandarua', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (1, 'NYANDARUA SOUTH', 'Urban', 5098.061, 25.1215, 138.97, 78.03699999999999, 3.207, 0.0, 0.0, 1.069, 1.069, 5345, 5098, 25, 139, 78, 3, 0, 0, 1, 1, 'Nyandarua', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (2, 'NYERI NORTH', 'Urban', 12826.9824, 160.5504, 740.2368, 366.5664, 69.61919999999999, 11.3664, 28.416, 1.4208, 1.4208, 14208, 12827, 161, 740, 367, 69, 11, 29, 2, 2, 'Nyeri', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (3, 'NYERI SOUTH', 'Urban', 36289.6503, 918.321, 1325.5764, 1213.7808, 35.9343, 19.9635, 55.89780000000001, 3.9927, 67.8759, 39927, 36290, 917, 1325, 1213, 36, 20, 57, 2, 67, 'Nyeri', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (4, 'KIRINYAGA', 'Urban', 25102.1001, 238.9107, 1090.2017, 961.135, 10.9844, 2.7461, 8.238299999999999, 2.7461, 41.1915, 27461, 25103, 239, 1090, 960, 11, 3, 9, 4, 42, 'Kirinyaga', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (5, 'MURANGA NORTH', 'Urban', 8067.488, 198.27599999999998, 1915.602, 409.344, 1.0659999999999998, 0.0, 54.36600000000001, 1.0659999999999998, 13.858, 10660, 8067, 198, 1916, 409, 1, 0, 54, 1, 14, "Murang'a", 'Physical Infrastructure, Housing', 'CENTRAL'),
 (6, 'MURANGA SOUTH', 'Urban', 27613.5485, 459.8705, 1288.2465000000002, 840.558, 82.22850000000003, 9.1365, 143.1385, 15.2275, 9.1365, 30455, 27614, 459, 1287, 840, 81, 9, 142, 15, 8, "Murang'a", 'Physical Infrastructure, Housing', 'CENTRAL'),
 (7, 'KIAMBU EAST(KIAMBAA)', 'Urban', 55286.88, 2022.9972, 4146.516000000001, 1174.8462000000004, 6.2826, 37.6956, 87.95640000000002, 0.0, 69.10860000000001, 62826, 55285, 2021, 4146, 1172, 8, 35, 89, 1, 69, 'Kiambu', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (8, 'KIKUYU', 'Urban', 67893.3355, 2824.7312, 4751.382100000002, 1113.0055, 7.6759, 38.3795, 69.0831, 7.6759, 46.0554, 76759, 67896, 2826, 4750, 1112, 9, 42, 70, 5, 49, 'Kiambu', 'Physical Infrastructure, Housing', 'CENTRAL'),
 (9, 'KIAMBU WEST', 'Urban', 20729.9092, 580.1796, 1211.0098, 345.345, 2.3023, 16.116100000000007, 124.3242, 0.0, 11.5115, 23023, 20729, 580, 1212, 346, 2, 17, 125, 1, 11, 'Kiambu', 'Physical Infrastructure, Housing', 'CENTRAL')]

## 1.3 Accessing Information about our Dataset

In [0]:
# Getting to know more about the dataset by accessing its information
#

## 1.4 Answering Questions

Let's answer the following questions with our dataset. These are the same questions we answered using the python programming language.

In [0]:
# Challenge 1
# Find out the most popular type of household material for urban regions.
# 
%%sql
SELECT * , max(households) FROM Households

 * sqlite://
Done.

[(117, 'NAIROBI EAST', 'Urban', 234778.687, 29910.465, 88623.59999999998, 13219.687, 73.85300000000002, 221.559, 1772.4719999999998, 73.85300000000002, 627.7505000000001, 369265, 234774, 29909, 88619, 13229, 58, 233, 1758, 62, 623, 'Nairobi', 'Physical Infrastructure, Housing', 'NAIROBI', 369265)]

In [0]:
# Challenge 2
# Find out the least popular type of household material for urban regions.
#
%%sql
SELECT * , min(households) FROM Households

 * sqlite://
Done.

[(10, 'LARI', 'Urban', None, None, None, None, None, 976.3116368965517, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Kiambu', 'Physical Infrastructure, Housing', 'CENTRAL', 0)]

In [0]:
# Challenge 3
# Find out the most popular type of households material in the urban regions of Nairobi.
# 
%%sql
SELECT * , max(households) FROM Households
WHERE  district = 'NAIROBI WEST' AND rural_urban = 'Urban'

 * sqlite://
Done.

[(116, 'NAIROBI WEST', 'Urban', 167886.1645, 21852.995000000006, 13748.292000000005, 6810.496499999998, 63.6495, 212.165, 1018.392, 127.299, 445.5465, 212165, 167894, 21855, 13741, 6820, 54, 212, 1014, 128, 447, 'Nairobi', 'Physical Infrastructure, Housing', 'NAIROBI', 212165)]

In [0]:
# Challenge 4
# Find out the least popular type of households material in rural regions of Nairobi.
# 
%%sql
SELECT * , max(households) FROM Households
WHERE  district = 'NAIROBI WEST' AND rural_urban = 'Rural'

 * sqlite://
Done.

[(120, 'NAIROBI WEST', 'Rural', None, None, None, None, None, 976.3116368965517, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Nairobi', 'Physical Infrastructure, Housing', 'NAIROBI', 0)]

In [0]:
# Challenge 5
# Find out the average no. of tiling households.
# 
%%sql
SELECT  avg(households_tiles) FROM Households

 * sqlite://
Done.

[(668.3458127586201,)]

In [0]:
# Challenge 6
# Which county has the highest no. of grass households?
# 
%%sql
SELECT county, max(no_grass) FROM Households

 * sqlite://
Done.

[('Siaya', 47962)]

In [0]:
# Challenge 7
# Which top 5 counties have the highest no of households made of iron sheets ?
# 
%%sql
SELECT county, households_corrugated_iron_sheets FROM Households
ORDER BY households_corrugated_iron_sheets DESC LIMIT 5

 * sqlite://
Done.

[('Nairobi', 234778.687),
 ('Nairobi', 198711.1024),
 ('Nairobi', 167886.1645),
 ('Kirinyaga', 121104.944),
 ('Mombasa', 101603.9601)]

In [0]:
# Challenge 8
# What is the average no. of households in Kenya?
# 
%%sql
SELECT avg(households) FROM Households

 * sqlite://
Done.

[(27739.990476190476,)]

In [0]:
# Challenge 9
# Which county has the most no. of households made of dung?
# 
%%sql
SELECT county, max(households_mud_dung) FROM Households

 * sqlite://
Done.

[('Narok', 15213.7766)]

In [0]:
# Challenge 10
# In ascending order, which top 3 counties have the highest no. of households with makuti?
# 
%%sql 
SELECT county, households_makuti  FROM Households
ORDER BY households_makuti ASC LIMIT 3

 * sqlite://
Done.

[('Nyandarua', 0.0), ("Murang'a", 0.0), ('Kiambu', 0.0)]

In [0]:
# Challenge 11
# What is the no. of Makuti households in urban regions?
#
%%sql
SELECT count(households_makuti) FROM Households
WHERE rural_urban = 'Urban'

 * sqlite://
Done.

[(157,)]

In [0]:
# Challenge 12
# What is the no. of Makuti households in the rural regions of Kisumu county?
#
%%sql
SELECT count(households_makuti) FROM Households
WHERE rural_urban = 'Rural' AND district = 'KISUMU'

 * sqlite://
Done.

[(0,)]

In [0]:
# Challenge 13
# What percentage of households in Kenya are concrete?
#
%%sql
SELECT SUM(households_concrete)/sum(households)*100 percentage_of_households FROM Households

 * sqlite://
Done.

[(3.563301987835568,)]

In [0]:
# Challenge 14
# Which top 3 districts have the highest no. of grass and makuti households?
#
%%sql
SELECT district , households_grass, households_makuti FROM Households
WHERE households_grass > 0  AND households_makuti > 0
ORDER BY households_makuti  DESC LIMIT 3

 * sqlite://
Done.

[('KILIFI', 6111.71, 34903.4202),
 ('MSAMBWENI', 4021.4185, 22576.6332),
 ('MALINDI', 6611.373000000001, 20959.2123)]

In [0]:
# Challenge 15 
# What is the households distribution of iron sheets, mud/dung, tin, 
# makuti, grass, sheets, concrete, tiles for Baringa County?
# 
%%sql
SELECT district , households_grass, households_makuti FROM Households
WHERE district = 'BARINGA'

 * sqlite://
Done.

[]